.greatlengths-header {
    background: url(../images/effect.png) repeat left top;
    /* position: relative; */
    padding: 0;
    margin: 0;
    height: 350px;
    max-height: 375px;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100vw;
}

#outline-img {
    background: url(../images/1x.png) no-repeat;
    background-size: cover;
    position: relative;
    height: 350px;
    width: 400px;
}

.greatlengths-logo {
    background: url(../images/great-lengths-logo.png) no-repeat;
    background-size: cover;
    position: relative;
    width: 25vw;
    height: 350px;
    /* margin-left: 100px; */
}
