body {
    margin:0;
    padding:0;
    background:#fff;
    font-family:'Montserrat',sans-serif;
    font-size:12px;
}

.black{
    background: rgba(255, 255, 255, 1);
    transition: 0.9s all;
}

#not-black{
    background: rgba(244, 244, 244, 0.6);;
}

.nav-gray {
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    transition: all 0.5s ease-in-out;
}
.li-groot {
    padding:0;
    margin:0;
}
#nav {
    text-align:center;
    width:100%;
    position: fixed;
    height:auto;
    overflow:hidden;
    background:none;
    z-index: 1090;
}
#nav .nav-gray {
    text-align:center;
}
#nav .nav-gray .li-groot {
    display:inline-block;
}

#nav .nav-gray .li-groot .a-groot {
    color:#333;
    display:inline-block;
    padding:1em 3em;
    text-decoration:none;
    transition-property:all .2s linear 0s;
    -moz-transition-property:all .2s linear 0s;
    -webkit-transition-property:all .2s linear 0s;
    -o-transition-property:all .2s linear 0s;
    font-size:16px;
    border-bottom: 4px #f4f4f4 inset;
}
#nav .nav-gray .li-groot .a-groot:hover {
    transition: all .2s ease-in-out;
    border-bottom: 4px #cc0033 inset;
}

#nav .nav-gray .li-groot .active {
    transition: all .2s ease-in-out;
    border-bottom: 4px #6e001c inset;
}


/*styling open close button*/
.button{
    display: none;
    background-color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
    margin-right: -10px;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn-open:hover{
    text-decoration: none;
}

.btn-close:hover{
    text-decoration: none;
}

/*overlay*/
.overlay {
    display:none;
    position:fixed;
    top:0;
    height: 100vh;
    width:100%;
    background:#fff;
    overflow:auto;
    z-index:99;

}
.wrap {
    color: black;
    text-align:center;
    max-width:90%;
    margin:0 auto;
}
.wrap ul.wrap-nav {
    border-bottom:1px solid #575757;
    text-transform:capitalize;
    padding:150px 0 100px;
}
.wrap ul.wrap-nav li {
    font-size:20px;
    display:inline-block;
    vertical-align:top;
    width:24%;
    position:relative;
}
.wrap ul.wrap-nav li a {
    color:#CC0033;
    display:block;
    padding:8px 0;
    text-decoration:none;
    transition-property:all .2s linear 0s;
    -moz-transition-property:all .2s linear 0s;
    -webkit-transition-property:all .2s linear 0s;
    -o-transition-property:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
    color:#f0f0f0;
}
.wrap ul.wrap-nav ul {
    padding:20px 0;
}
.wrap ul.wrap-nav ul li {
    display:block;
    font-size:13px;
    width:100%;
    color:#333;
}
.wrap ul.wrap-nav ul li a {
    color:#333;
}
.wrap ul.wrap-nav ul li a:hover {
    color:#CC0033;
}
@media screen and (max-width: 73em){

    #nav{
        position: relative;
        height: 0;
    }

    .wrap ul.wrap-nav li a{
        padding: 30px;
    }

    .wrap ul.wrap-nav> li {
        width:100%;
        padding: 20px 0;
        border-bottom:1px solid #575757;
    }
    .wrap ul.wrap-nav {
        padding:30px 0 0;
    }
    #nav ul {
        opacity:0;
        visibility:hidden;
    }

    .button {
        display: block;
        position: fixed;
        right: 40px;
        top: 6px;
        z-index:999;
        font-size:30px;
        background-color: #fff;
    }

    .button:after{
        background-color: #333;
    }

    .button a {
        text-decoration:none;
    }
    .btn-open:after {
        color:#333;
        content:"\f0c9";
        font-family:"FontAwesome";
        transition-property:all .2s linear 0s;
        -moz-transition-property:all .2s linear 0s;
        -webkit-transition-property:all .2s linear 0s;
        -o-transition-property:all .2s linear 0s;
    }
    .btn-open:hover:after {
        color:#CC0033;
    }
    .btn-close:after {
        color:#000;
        content:"\f00d";
        font-family:"FontAwesome";
        transition-property:all .2s linear 0s;
        -moz-transition-property:all .2s linear 0s;
        -webkit-transition-property:all .2s linear 0s;
        -o-transition-property:all .2s linear 0s;
        margin: 0;
    }
    .btn-close:hover:after {
        color: #CC0033;
    }
}
.content {
    width:100%;
    margin-top:200px;
    font-size:20px;
    color:#333;
    text-align: center;
}

