body{
    overflow-x: hidden;
}

.logo{
    float: left;
    width: 130px;
    padding: 5px 0 5px 30px;
}

.wide-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background1.jpg");
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
}

#description {
    width: 100%;
    /*padding : 2em;*/
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Montserrat',sans-serif;
}

#gc1 {
    padding: 2em;
}

#desc-container {
    width: 100%;
}

#gc2 {
    padding: 2.5em 0;
}

#img-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

p {font-size: 22px;}

/*Google maps en 360 Graden*/
/*.Go {*/
    /*width: 50%;*/
    /*height: 363px;*/
    /*border: none;*/
    /*float: right;*/
    /*margin-bottom: 10em;*/
    /*margin-right: 10em;*/
/*}*/

/*.map {*/
    /*width: 25%;*/
    /*height: 363px;*/
    /*border:0;*/
    /*margin-left: 10em;*/
/*}*/
.prijsLijst {
    padding-top: 100px;
    font-size: 18px;
}


.algemeenTable, .kleurTable, .permanentTable {
    background-color: #d3d3d3;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #description {
        grid-template-columns: auto;
    }

    p {
        font-size: 18px;
    }

    /* KICK */
    .prijsLijst {
        padding: 10px;
    }

    .tableProduct {
        position: relative;
        left: 10px;
    }

    .algemeenTable, .kleurTable, .permanentTable {
        background-color: #d3d3d3;
        font-size: 16px;
        width: 100%;
        border-radius: 5px;
    }

    .prices {
        width: 25%;
        text-align: left;
        padding: 0 5px;
    }
    
    .tableTitle {
        float: left;
    }
}

@media only screen and (min-width: 1201px) {
    #description {
        grid-template-columns: auto auto;
    }
}
