body{
    overflow-x: hidden;
}

.logo{
    float: left;
    width: 130px;
    padding: 5px 0 5px 30px;
}

.wide-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background1.jpg");
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
}

#description {
    width: 100%;
    /*padding : 2em;*/
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Montserrat',sans-serif;
}

#gc1 {
    padding: 2em;
}

#desc-container {
    width: 100%;
}

#gc2 {
    padding: 2.5em 0;
}

#img-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

p {font-size: 22px;}


.prijsLijst {
    padding-top: 100px;
    font-size: 18px;
}


.algemeenTable, .kleurTable, .permanentTable {
    background-color: #d3d3d3;
    width: 100%;
}

.prijsLijst {
    padding-top: 100px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.prijslijst-container {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin-right: 340px;
}


.algemeenTable,
.kleurTable,
.permanentTable {
    background-color: #d3d3d3;
    width: 100%;
    border-radius: 5px;
}

#bottomTable {
    margin-bottom: 2em;
}

.tableProduct,
.prices {
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.prices {
    padding-left: 20px;
    width: 15%;
}

@media only screen and (max-width: 800px) {
    #description {
        grid-template-columns: auto;
    }

    p {
        font-size: 18px;
    }

    /* KICK */
    .prijsLijst {
        padding: 10px;
        width: 100%;
    }

    .tableProduct {
        position: relative;
        left: 10px;
    }

    .algemeenTable,
    .kleurTable,
    .permanentTable {
        background-color: #d3d3d3;
        font-size: 16px;
        width: 100%;
        border-radius: 5px;
    }

    .prices {
        width: 25%;
        text-align: left;
        padding: 0 5px;
    }

    .tableTitle {
        float: left;
    }

    .prijslijst-container {
        width: 94.5%;
    }
}

@media only screen and (min-width: 1201px) {
    #description {
        grid-template-columns: auto auto;
    }
}
